<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<title>{% block titulo %} {% endblock titulo %}</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

    <header class="container-fluid">

        <div class="container-fluid" align="center" style="background-color: green!important">
            <h1>Bienvenido {{ username }}</h1>
        </div>

        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <!-- Brand -->
            <a class="navbar-brand" href="#"><img src="/img/milton.png" alt="" /></a>

            <!-- Links -->

                <ul class="navbar-nav">
                    <!-- Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Productos
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/crear">Nuevo producto</a>
                            <a class="dropdown-item" href="/listar">Lista de productos creados</a> 
                            
                        </div>



                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Marcas
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/crearMarca">Agregar Marcas</a>
                            <a class="dropdown-item" href="/listarMarca">Listar Marcas</a>

                        </div>

                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Categorias
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/crearCategoria">Agregar categorias</a>
                            <a class="dropdown-item" href="/listarCategoria">Listar categorias</a>

                        </div>

                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Usuarios
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/crearUsuario">Crear Usuarios</a>
                            <a class="dropdown-item" href="/listarUsuario"> Listar Usuarios</a>
                        </div>

                    </li>
                     <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Estadisticas
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/listarProductoCategoria">Buscar productos por categoria</a>
                            <a class="dropdown-item" href="/listarProductoPrecio"> Buscar productos por precio</a>
                        </div>

                    </li>

                </ul>
       

           


           
            <a class="nav-link" href="/">Volver</a>
            <a class="nav-link" href="/logout">Cerrar Sesion</a>

        </nav> 
    </header>


<body>
	{% block contenido %}

	{% endblock contenido %}

</body>
</html>