
{% extends 'base.html.twig' %}


{% block contenido %}

<div class="container-fluid" align="center">
	<h1>Modificar categorias</h1>
</div>

<div class="container-fluid" align="center">
	<form action="actualizarCategoria" method="post" class="form" align="center">
		<input type="hidden" name="txtIdCategoria" id="txtIdCategoria"
			value="{{ c.getIdCategoria()}}" />
		<table class="table" align="center">
			<tr class="form-group">
				<td><label for="">Nombre</label></td>
				<td><input type="text" name="txtNombreCat" id="txtNombreCat"
					value="{{ c.getNombreCategoria() }}" class="form-control"/></td>
			</tr>

			<tr>
				<td><label for="">Descripcion</label></td>
				<td><input type="text" name="txtDescripcionCat"
					id="txtDescripcionCat" value="{{ c.getDescripcionCategoria() }}" class="form-control" /></td>
			</tr>

			<tr>
				<td></td>
				<td><input class="btn btn-primary" type="submit"
					value="Modificar" /></td>
			</tr>
		</table>
	</form>
</div>
{{ mensaje }}


{% endblock contenido %}

